.pills{
    display: flex;
}
.pills ul {
    display: flex;
    gap: 10px;
}
.pills ul li{
    background-color: var(--primary-color);
    color: #fff;
    padding: 5px 15px;
    border-radius: 20px;
    text-transform: uppercase;
}

.pills ul li:first-child{
    margin-left: 0;
}